asgiref 
async-timeout 
bleach
certifi
charset-normalizer
crispy-bootstrap5
Django 
django-ckeditor
django-crispy-forms
django-js-asset
idna
Markdown
martor
pytz 
requests
six
sqlparse 
typing_extensions 
urllib3
webencodings
