{% load crispy_forms_tags %}
<head>
    <style>
        form{
            border:4px solid black;
            margin: 0 auto;
            padding: 40px;
            width: fit-content;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<form action="{% url 'addInDiscussion' forum.id%}" method="POST">
    <h3>Adding comment to Topic: {{forum.topic}}</h3>
    {% csrf_token %}
    {{form.media}}
    {{form | crispy }}
    <input type="submit" class="btn btn-success" value="submit">
</form>

